.main-nav__list {
  .reset();
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  list-style: none;
  &--footer {
    width: 836px;
    align-content: center;
    .main-nav__items {
      margin-right: 0;
      &::before {
        display: none;
      }
    }
    .main-nav__item {
      color: #ffffff;
      &--active {
        color: #af0010;
        
        border-bottom-color: #af0010;
        
        cursor: default;
        &:hover {
          color: #af0010;
        }
      }
    }
  }
}

.main-nav__items {
  position: relative;
  
  margin-right: 41px;
  &::before {
    content: '';
    
    position: absolute;
    top: 8px;
    right: -21px;
    
    width: 3px;
    height: 3px;
    
    background-color: #bf0112;
  }
  &:last-child {
    margin-right: 0;
  }
  &--language {
    position: relative;
    
    align-self: baseline;
    width: 40px;
    overflow: hidden;
    padding-left: 27px;
    &::before {
      content: '';
      
      position: absolute;
      top: 3px;
      left: 0;
      
      .bg(@language-ru);
      
      background-position: 0 -1px;
    }
    span {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      
      display: block;
      width: 15px;
      height: 15px;
      
      transform: rotateZ(180deg);
      &::before,
      &::after {
        content: '';

        position: absolute;
        top: 5px;
        left: 2px;

        width: 4px;
        height: 1px;

        background-color: #c71e2d;
      }
      &::before {
        left: 4px;

        transform: rotateZ(45deg);
      }
      &::after {
        left: 1px;

        transform: rotateZ(-45deg);
      }
    }
    select {
      position: relative;
      z-index: 10;
      
      width: 55px;
      
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
      text-transform: uppercase;
      color: #454545;
      
      background-color: transparent;
      
      border: none;
      outline: none;
      
      cursor: pointer;
    }
  }
}

.main-nav__item {
  display: block;
  padding-bottom: 26px;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: #454545;
  text-decoration: none;
  &:hover {
    color: #af0010;
  }
  &--active {
    color: #af0010;
    
    border-bottom: 1px solid #d05964;
    
    cursor: default;
    &:hover {
      color: #af0010;
    }
  }
  &--language-ru {
    position: relative;
    
    color: #454545;
    text-transform: uppercase;
    &::before {
      content: '';
      
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &--language-ro {
    display: none;
    
    color: #454545;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .main-nav {
    width: 100%;
  }
  
  .main-nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main-nav__items {
    width: 100%;
    margin-right: 0;
    &::before {
      display: none;
    }
    &--language {
      position: absolute;
      top: 37;
      right: 2.473958333333333%;
      
      width: 43px;
      &::before {
        display: block;
      }
    }
  }
}