.one-country__descriptionWrap {
  padding-top: 104px;
  padding-bottom: 100px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.one-country__description {
  width: 615px;
}

.one-country__description-headline {
  .reset();
  
  margin-bottom: 4px;
  
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
}

.one-country__description-title {
  .reset();
  
  margin-bottom: 22px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #454545;
}

.one-country__description-text {
  .reset();
  
  margin-bottom: 29px;
  
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #454545;
  &:last-child {
    margin-bottom: 0;
  }
}

.one-country__descriptionImg {
  width: 479px;
  height: 334px;
  //margin-right: 75px;
  img {
    display: block;
    width: 479px;
    height: 334px;
  }
}

.one-country__sliderWrap {
  padding-top: 212px;
  padding-bottom: 100px;
  
  background-color: #fcfcfc;
}

.one-country__tabs {
  position: relative;
  &--link1-moreCities {
    background-color: #fcfcfc;
  }
}

.one-country__tabsNav {
  position: relative;
}

.one-country__tabsNav-controlsWrap {
  position: absolute;
  top: -120px;
  right: 0;
  
  display: flex;
  &--oneCity {
    top: 39px;
    right: 42px;
    z-index: 10;
  }
}

.one-country__tabsNav-control {
  position: relative;
  
  display: block;
  width: 60px;
  height: 60px;
  
  background-color: #ffffff;
  
  border-radius: 50%;
  border: 1px solid #ececec;
  
  cursor: pointer;
  &::before {
    content: '';
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: auto;
  }
  &--slider {
    &::before {
      .bg-svg(@one-country-sliderNav);
    }
    &.active {
      background-color: #bf0112;
      &::before {
        .bg-svg(@one-country-sliderNav-active);
      }
    }
  }
  &--list {
    &::before {
      .bg-svg(@one-country-listNav);
    }
    &.active {
      background-color: #bf0112;
      &::before {
        .bg-svg(@one-country-listNav-active);
      }
    }
  }
  &:first-child {
    margin-right: 30px;
  }
}

.one-country__tabs-controlsWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  //padding-right: 67px;
  &--link1-moreCities {
    margin-bottom: 52px;
    padding-top: 60px;
    .one-country__tabs-control {
      width: auto;
      padding-left: 19px;
      padding-right: 19px;
    }
  }
} 

.one-country__tabs-control {
  display: block;
  width: 270px;
  padding-top: 11px;
  padding-bottom: 11px;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  
  background-color: #ffffff;
  
  border-radius: 100px;
  border: 1px solid #ececec;
  outline: none;
  
  cursor: pointer;
  &.active {
    color: #ffffff;
    
    background-color: #bf0112;
  }
}

.one-country__tabsList-control {
  display: block;
  width: 270px;
  padding-top: 11px;
  padding-bottom: 11px;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  
  background-color: #ffffff;
  
  border-radius: 100px;
  border: 1px solid #ececec;
  outline: none;
  
  cursor: pointer;
  &.active {
    color: #ffffff;
    
    background-color: #bf0112;
  }
}

.one-country__tabs-content {
  .slider-promotion {
    margin-bottom: 0;
  }
  &--link1-moreCities {
    margin-bottom: 86px;
    padding-bottom: 100px
  }
  &--link1-moreCities-padding {
    padding-bottom: 0;
  }
}

.one-country__sliderTitle-wrap {
  position: absolute;
  top: -120px;
  left: 0;
}

.one-country__sliderHeadline {
  .reset();
  
  margin-bottom: 5px;
  
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  color: #000000;
}

.one-country__sliderTitleText {
  .reset();
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #454545;
}

.one-country__sliderWrap {
  .container {
    position: static;
  }
}

.one-country__attractionWrap {

  background-color: #FCFCFC;
}

.one-city__bestHotels {
  padding-bottom: 100px;
  &--oneCountry {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .one-country__descriptionWrap {
    padding-top: 31px;
    padding-bottom: 40px;
    .container {
      flex-direction: column;
    }
  }
  
  .one-country__description-headline {
    margin-bottom: 9px;
    
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
  }
  
  .one-country__description {
    width: auto;
    margin-bottom: 9px;
  }
  
  .one-country__tabsNav-control {
    margin-left: 20px;
    
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &--slider {
      transform: rotate(90deg);
      
      .bg-svg(@one-country-sliderNav-mobile);
      &::before {
        display: none;
      }
      &.active {
        background-color: transparent;
        
        .bg-svg(@one-country-sliderNav-mobile-active);
      }
    }
    &--list {
      .bg-svg(@one-country-listNav-mobile);
      &::before {
        display: none;
      }
      &.active {
        background-color: transparent;
        
        .bg-svg(@one-country-listNav-mobile-active);
      }
    }
  }
  
  .one-country__description-text {
    margin-bottom: 25px;
  }
  
  .one-country__descriptionImg {
    width: auto;
    height: 100%;
    margin-right: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .one-country__sliderWrap {
    padding-top: 100px;
    padding-bottom: 61px;
  }
  
  .one-country__sliderHeadline {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }
  
  .one-country__tabsNav-controlsWrap {
    top: 96px;
    left: 0;
    right: 0;
    z-index: 20;
    
    justify-content: center;
    &--list {
      top: 30px;
    }
    &--oneCity {
      top: 295px;
      left: 0;
      right: 0;

      justify-content: center;
    }
  }
  
  .one-country__tabs-content {
    &--link1-moreCities {
      margin-bottom: 33px;
      padding-bottom: 0;
    }
  }
  
  .one-country__sliderTitle-wrap {
    position: relative;
    top: -94px;
    
    padding: 0 5.333333333333333%;
  }
  
  .one-country__sliderTitleText {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
  
  .one-country__sliderTitlelink {
    display: none;
  }
  
  .one-country__attractionWrap {
    padding-bottom: 74px;
  }
  
  .one-city__bestHotels {
    .container {
      padding-top: 0;
    }
  }
  
  .one-country__tabs-controlsWrap {
    position: relative;
    top: -73px;
    
    flex-wrap: wrap;
    padding-left: 5.333333333333333%;
    padding-right: 0;
    .slick-slide {
      width: auto;
      margin-right: 20px;
    }
    &--link1-moreCities {
      display: none;
    }
  }
  
  .one-country__tabs-control {
    width: auto;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .one-country__tabsList-control {
    width: auto;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}