.one-country__sliderHeadline {
  .reset();
  
  margin-bottom: 5px;
  
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  color: #000000;
}

.one-country__sliderTitle-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  padding-right: 5.25%;
}

.one-country__sliderTitleText {
  .reset();
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #454545;
}

.one-country__sliderTitlelink {
  letter-spacing: 1.5px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  color: #bf0112;
  text-decoration: none;
}

.one-country__sliderWrap {
  .container {
    position: static;
  }
}

.one-country__attractionWrap {
  padding-top: 97px;
  padding-bottom: 100px;
  
  background-color: #FCFCFC;
}

.one-city__bestHotels {
  padding-bottom: 100px;
  .container {
    padding-top: 95px;
  }
}

.one-country__restoransWrap {
  padding-bottom: 100px;
  
  background-color: #FCFCFC;
  .container {
    padding-top: 95px;
  }
}

@media (max-width: 768px) {
  .one-country__img {
    min-width: auto;
    margin-bottom: 33px;
  }
  
  .one-country__headline {
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
  }
  
  .one-country__title {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
  }
  
  .one-country__sliderTitle-wrap {
    margin-bottom: 38px;
  }
  
  .one-country__sliderHeadline {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }
  
  .one-country__sliderTitleText {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
  
  .one-country__sliderTitlelink {
    display: none;
  }
  
  .one-country__attractionWrap {
    padding-top: 74px;
    padding-bottom: 74px;
  }
  
  .one-city__bestHotels {
    .container {
      padding-top: 0;
    }
  }
}