.search-avia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 506px;
  
  background-image: url(%=static=%content/search-avia-bg.jpg);
  background-repeat: no-repeat;
  background-size: 1440px 506px;
}

.search-avia__headline {
  .reset();
  
  margin-bottom: 5px;
  
  font-size: 50px;
  font-weight: 400;
  line-height: 52px;
  color: #ffffff;
  text-align: center;
}

.search-avia__title {
  .reset();
  
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.search-avia__tabs-contentWrap {
  background-color: #FFF;
}