.user-block {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-block__link {
  color: #353535;
  font-weight: 500;
  text-decoration: none;
  
  margin-right: 40px;
  &--enter {
    margin-right: 0;
    
    color: #af0010;
  }
}