.user-block {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-block__link {
  color: #353535;
  font-weight: 500;
  text-decoration: none;
  
  margin-right: 40px;
  &--enter {
    margin-right: 0;
    
    color: #af0010;
  }
}

@media (max-width: 768px) {
  .user-block {
    position: absolute;
    top: 37px;
    left: 5.333333333333333%;
    
    flex-direction: column;
    align-items: baseline;
    width: 85%;
  }
  
  .user-block__link {
    position: relative;
    
    width: 100%;
    margin-right: 0;
    
    font-weight: 500;
    color: #ffffff;
    &::before {
      content: '';
      
      position: absolute;
      top: 7px;
      left: -9px;
      
      width: 2px;
      height: 2px;
      
      background-color: #ffffff;
      
      opacity: 0.8;
    }
    &--reg {
      order: 1;
    }
    &--enter {
      margin-bottom: 32px;
    }
  }
}