.worker-link {
  display: flex;
  
  align-items: center;
}

.worker-link__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.worker-link__name {
  .reset();
  
  margin-bottom: 6px;
  
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #454545;
}

.worker-link__status {
  .reset();
  
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #af0010;
}