.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    width: auto;
    padding: 0 5.333333333333333%;
  }
}

img {
  width: 100%;
  height: auto;
}